* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "unisans";
  src: url("./fonts/unisans.otf") format("opentype");
}
@font-face {
  font-family: "unisansB";
  src: url("./fonts/unisansB.otf") format("opentype");
}
@font-face {
  font-family: "Orator";
  src: url("./fonts/Capsuula.ttf") format("truetype");
}
@font-face {
  font-family: "Orator";
  src: url("./fonts/Capsuula.ttf") format("truetype");
}
html {
  font-family: Orator;
  overflow-x: hidden;
}

.close-x::before {
  height: 2px;
  width: 100%;
}

.close-x::after {
  height: 100%;
  width: 2px;
}

.close-x::after,
.close-x::before {
  background-color: white;
  content: "";

  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
}
.close-x {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 5;
  right: 20px;
  cursor: pointer;
}
.black {
  right: 15px;
  top: 15px;
  position: absolute;
}
video {
  &::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
  }
}
.black::after,
.black::before {
  background-color: black;
}
.page-container {
  display: flex;
  justify-content: center;

  width: 100%;
  overflow: hidden;
  
}
