* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "unisans";
  src: url("./fonts/unisans.otf") format("opentype");
}
@font-face {
  font-family: "unisansB";
  src: url("./fonts/unisansB.otf") format("opentype");
}
@font-face {
  font-family: "Orator";
  src: url("./fonts/Capsuula.ttf") format("truetype");
}
@font-face {
  font-family: "Orator";
  src: url("./fonts/Capsuula.ttf") format("truetype");
}
html {
  font-family: Orator;
  overflow-x: hidden;
}
